<mat-button-toggle-group  [(ngModel)]="viewMode" (change)="viewModeChanged()" class="noprint">
  <mat-button-toggle value="datasets" matTooltip="View datasets" ngDefaultControl>
    <mat-icon>table_view</mat-icon>      
  </mat-button-toggle>
  <mat-button-toggle value="actions" matTooltip="View actions" ngDefaultControl>
    <mat-icon>bolt</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="inout" matTooltip="View as In Out Mode" ngDefaultControl>    
    <mat-icon>mediation</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<button mat-button color="basic" matTooltip="Zoom to fit" (click)="zoomToFit()" class="noprint">
  <mat-icon>fit_screen</mat-icon>
</button>

<button mat-button color="basic" matTooltip="Center topology" (click)="centerGraph()" class="noprint">
  <mat-icon>open_with</mat-icon>
</button>

<mat-button-toggle matTooltip="Clusters on/off" [checked]="showClusters" (change)="clustersOnOff()" class="noprint">
  <mat-icon>select_all</mat-icon>
</mat-button-toggle>

<ngx-graph
  [view]="dim"
  layout="dagreCluster"
  [links]="links"
  [nodes]="nodes"
  [clusters]="this.showClusters ? clusters : []"
  [showMiniMap]="showMiniMap"
  [zoomToFit$]="zoomToFit$"
  [panToNode$]="panToNode$"
  [center$]="center$"  
  >
<ng-template #nodeTemplate let-node>
    <svg:g class="node-group ng-star-inserted">
<!--        <circle r="10" cx="10" cy="10" class="ng-star-inserted" fill="#a95963"></circle> -->
        <image [attr.href]="node.data.image" height="40" width="40" fill="none" (click)="nodeClick(node)" fill="#a95963"/>
        <ng-container *ngIf="checkIfSelected(node)">
          <image href="./assets/check.svg" height="40" width="40" fill="none" fill="#a95963"/>
        </ng-container>
        <text class="name">{{ node.label }}</text>
    </svg:g>
</ng-template>

<ng-template #clusterTemplate let-cluster>
  <svg:g class="node cluster">
    <image [attr.href]="cluster.data.image" height="100" width="100" fill="none"/>
    <svg:rect
      rx="5"
      ry="5"
      [attr.width]="cluster.dimension.width"
      [attr.height]="cluster.dimension.height"
      [attr.fill]="cluster.data.color"
    />
  </svg:g>
</ng-template>

</ngx-graph>