<mat-list>
        <mat-list-item *ngFor="let project of projects">
        <p matLine>
            <b>{{project.name}}</b>
        </p>
        <p matLine>
            {{project.template}}
        </p>
        <p matLine>
            {{object2str(project.templateParams || {})}}
        </p>
        

            <div class="button-container">
                <button mat-mini-fab color="basic" (click)="loadProject(project)" matTooltip="Load project data">
                    <mat-icon>content_paste</mat-icon>
                </button>
            </div>
            <div class="button-container">
                <button mat-mini-fab color="basic" (click)="loadProject(project, false)" matTooltip="Add project data to current">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
        
  </mat-list>
