<mat-nav-list>
  <mat-list-item>
    <button mat-icon-button (click)="createProject()" matTooltip="New">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item *ngFor="let project of projects"  (mouseover)="projectUnderMouse = project.name">
      <a matLine [routerLink]="null" (click)="loadProject(project, true)">{{ project.name }}</a>
      <button mat-icon-button (click)="loadProject(project, false)" 
        matTooltip="Add" *ngIf="projectUnderMouse == project.name">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <button mat-icon-button (click)="editProject(project)"
        matTooltip="Edit" *ngIf="projectUnderMouse == project.name">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteProject(project)"
        matTooltip="Del" *ngIf="projectUnderMouse == project.name">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-icon matTooltip="Item is domain project" *ngIf="project.domain == true">class</mat-icon>
  </mat-list-item>
</mat-nav-list>