<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{selected?.data?.dataset?.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container *ngIf="getAction() != undefined">
    <label>Action:</label>
    <label>{{getAction()}}</label>
  </ng-container>
  <mat-chip-list aria-label="Projects" *ngIf="selected">
    <mat-chip *ngFor="let project of data?.useInProjects" (click)="loadProject(project.name)" [selected]="project.name == currentProject" matTooltip="Load project {{project.name}}">{{project.name}}</mat-chip>
    <mat-chip (click)="loadProject(selected?.data?.dataset?.project)" color="warn" matTooltip="Load project {{selected?.data?.dataset?.project}}">{{selected?.data?.dataset?.project}}</mat-chip>
    <mat-chip (click)="loadDatasetVirtualProject(this.selected?.data?.dataset?.name)" selected color="accent" matTooltip="Build full project for {{this.selected?.data?.dataset?.name}}">Full</mat-chip>
  </mat-chip-list>
  <br />
  <a *ngFor="let source of getSourceAsArray()" href="{{source}}" target="_blank" style="word-wrap:break-word;">{{source}}</a>
  <mat-action-row *ngIf="selected">
    <button mat-button color="basic" matTooltip="Filter. Show this object lineage" (click)="filterByTableIn(selected?.data?.dataset?.name)">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-button color="basic" matTooltip="Filter. Show object usage" (click)="filterByTableUsage(selected?.data?.dataset?.name)">
      <mat-icon>filter_alt</mat-icon>
    </button>                    
    <button mat-button color="basic" matTooltip="Clear filter" (click)="clearTableFilter()">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-button color="basic" matTooltip="Show domain links" (click)="openBottomSheet()">
      <mat-icon>link</mat-icon>
    </button>        
  </mat-action-row>
</mat-expansion-panel>