<mat-nav-list *ngIf="selected">
    <mat-list-item>
      <label>{{selected?.data?.dataset?.name}}</label>
      <span>&nbsp;</span>
      <button mat-mini-fab color="basic" (click)="loadDatasetVirtualProject(selected?.data?.dataset?.name)">
        <mat-icon>done</mat-icon>
      </button>
    </mat-list-item>    
</mat-nav-list>

<mat-tab-group>
  <mat-tab label="Project info">
    <domain-link-component [currentProject]="currentProject" [currentItem]="selected?.data?.dataset?.name"></domain-link-component>
  </mat-tab>  
</mat-tab-group>
