<mat-toolbar>
    <span>Data topology</span>
    <span>&nbsp;</span>
    <div class="button-container">

      <button 
        mat-mini-fab 
        color="primary" 
        matTooltip="Zoom to fit" 
        (click)="zoomToFit()">
        <mat-icon>fit_screen</mat-icon>
      </button>

      <button mat-mini-fab color="primary" matTooltip="Center topology" (click)="centerGraph()">
        <mat-icon>open_with</mat-icon>
      </button>      
    </div>

    <span>&nbsp;</span>

    <span *ngFor="let project of projects">
      <span *ngIf="project === currentProject" style="color: mediumblue;">&nbsp;{{project}}&nbsp;</span>
      <span *ngIf="project !== currentProject" style="color: gray;">&nbsp;{{project}}&nbsp;</span>
      <button mat-mini-fab color="primary" matTooltip="Load project" (click)="loadProject(project)" [disabled]="project === currentProject">
        <mat-icon>done</mat-icon>
      </button>
    </span>

    <div class="button-container">
      <button mat-mini-fab color="primary" matTooltip="Clear data" (click)="clear()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

</mat-toolbar>